<style is="custom-style">
  /* BBVA Web */
  /* normal */
  @font-face {
    font-family: "bbvaweb";
    src: url("fonts/bbvaweb-book.woff") format("woff"),
         url("fonts/bbvaweb-book.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
  }

  /* light */
  @font-face {
    font-family: "bbvaweb";
    src: url("fonts/bbvaweb-light.woff") format("woff"),
         url("fonts/bbvaweb-light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
  }

  /* Helvetica Neue */
  /* normal */
  @font-face {
    font-family: "Helvetica Neue";
    src: local("Helvetica Neue"),
         local("HelveticaNeue"),
         url("fonts/helvetica-neue/HelveticaNeueW01-55Roma.woff") format("woff"),
         url("fonts/helvetica-neue/HelveticaNeueW01-55Roma.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
  }

  /* medium */
  @font-face {
    font-family: "Helvetica Neue";
    src: local("Helvetica Neue Medium"),
         local("HelveticaNeue-Medium"),
         url("fonts/helvetica-neue/HelveticaNeueW01-65Medi.woff") format("woff"),
         url("fonts/helvetica-neue/HelveticaNeueW01-65Medi.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
  }

  /* light */
  @font-face {
    font-family: "Helvetica Neue";
    src: local("Helvetica Neue Light"),
         local("HelveticaNeue-Light"),
         url("fonts/helvetica-neue/HelveticaNeueW01-45Ligh.woff") format("woff"),
         url("fonts/helvetica-neue/HelveticaNeueW01-45Ligh.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
  }
</style>
