<style is="custom-style">
  :root {

    /**
     * FONT FAMILY & WEIGHTS MIXINS
     */
    --cells-fontDefaultLight: {
      font-family: var(--cells-fontDefault);
      font-weight: 300;
    };
    --cells-fontDefaultNormal: {
      font-family: var(--cells-fontDefault);
      font-weight: 400;
    };
    --cells-fontDefaultMedium: {
      font-family: var(--cells-fontDefault);
      font-weight: 500;
    };
    --cells-fontSecondaryLight: {
      font-family: var(--cells-fontSecondary);
      font-weight: 300;
    };
    --cells-fontSecondaryNormal: {
      font-family: var(--cells-fontSecondary);
      font-weight: 400;
    };
    --cells-fontSecondaryMedium: {
      font-family: var(--cells-fontSecondary);
      font-weight: 500;
    };
  }
</style>