<style is="custom-style">
  :root{
    /*** Weight ***/
    /*
    (1) xxs       10px / 0.625rem
    (2) xs        12px / 0.75rem
    (3) s         13px / 0.8125rem
    (4) m-mini    14px / 0.875rem
    (5) m         16px / 1rem
    (6) m-maxi    18px / 1.125rem
    (7) l-mini    20px / 1.25rem
    (8) l         24px / 1.5rem
    (9) l-maxi    28px / 1.75rem
    (10)xl-mini   32px / 2rem
    (11 )xl       40px / 2.5rem
    (12) xl-maxi  48px / 3rem
    */

    --cells-text-size-xxs:{
      font-size: 0.625rem; /* 10px / 0.625rem */
    };

    --cells-text-size-xs:{
      font-size: 0.75rem; /* 12px / 0.75rem */
    };

    --cells-text-size-s:{
      font-size: 0.8125rem; /* 13px / 0.8125rem */
    };

    --cells-text-size-m-mini:{
      font-size: 0.875rem; /* 14px / 0.875rem */
    };

    --cells-text-size-m:{
      font-size: 1rem; /* 16px / 1rem */
    };

     --cells-text-size-m-maxi:{
      font-size: 1.125rem; /* 18px / 1.125rem */
    };

    --cells-text-size-l-mini:{
      font-size: 1.25rem; /*  20px / 1.25rem */
    };

    --cells-text-size-l:{
      font-size: 1.5rem; /*  24px / 1.5rem */
    };

    --cells-text-size-l-maxi:{
      font-size: 1.75rem; /*  28px / 1.75rem */
    };

    --cells-text-size-xl-mini:{
      font-size: 2rem; /*  32px / 2rem */
    };

    --cells-text-size-xl:{
      font-size: 2.5rem; /*  40px / 2.5rem */
    };

    --cells-text-size-xl-maxi:{
      font-size: 3rem; /*  48px / 3rem */
    };

  }
</style>
